<div>
    <span class="content"><%= link_to task.title, task %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(task.created_at) %> ago by <%= link_to task.user.login, task.user %>
    </span>
</div>
