.container {
  width: 710px;
}

body {
  background: #efefef;
  
}

header {
  padding-top: 20px;
}

header img {
  padding-left: 1em;
}

section {

  font-size: 120%;
  padding: 20px;
  background: #fff;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}


/* Forms */

.nzones_form {
  padding: 7px;
  padding-left: 15px;
  margin: 7px;
  border: solid 1px #BDBDBD;
  background-color: #efefef;
  width: 150px;
  float: left;
}

pre {
  font-size: 11px;
  background-color: #F1F1F3;
  color: #000044;
  margin: 0px;
  padding: 7px;
}

.autoverflow {
  overflow:auto;
}

.showtask pre {
  margin-right: 17px;
}

.showtask table tr td {
  vertical-align: top;
  
}

a.big_button {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background:url("/images/big_button_bg.png") repeat-x scroll center top #87B500;border-color:#DDDDDD #689300 #689300 #DDDDDD;border-style:solid;border-width:0 1px 1px 0;color:#FFFFFF;cursor:pointer;font-size:22px;height:42px;line-height:42px;margin:0;overflow:visible;padding:10px 15px;text-shadow:1px 1px #719E03;}a.big_button:active{background:#87b500;color:#ECF5DE;line-height:44px;}

.alert {
  background:none repeat scroll 0 0 #FBE3E4;
  color:#8A1F11;
  border:2px solid #FBC2C4;
  margin-bottom:1em;
  padding:0.8em;
}

table .field label, .nzones_form label {
  width: 8em;
float: left;
text-align: right;
padding: 0; margin: 0; padding-right: 10px;
display: block
}
.nzones_form label {
  width: 4em;
}

table .field input, .nzones_form input {
  width: 5em;
  margin: 0; padding: 0;

}
.field {
  margin-top: 5px;
}

.progress {
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
  padding: 3px;
}
.progress.complete {
  background-color: #A6FF76;
}

.progress.incomplete {
  background-color: #FFD376;
}

/* NEW TASK FORM */

#task-form-table, #task-form-table tr, #task-form-table tr td { border: 0;  padding: 0;  margin: 0; }

#task-form-table table tr td  { border: 0;  padding: 0;  margin: 0; }

#task-form-table tr td {
  padding-top: 20px;
  margin-top: 20px;
}
#task-form-table table tr td {
  vertical-align: middle;
  height: 30px;
  padding-bottom: 15px;
  }
td.key {
  text-align: right;
  width: 60px;
}
td.key img {
  padding-top: 3px;
}
td.key + td + td {
  width: 65px;
}
td.key + td {
  width: 10px;
}

.stage-number {
  width: 50px;
  vertical-align: top;
  }
.stage-number span {
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #87B500;
    color: #FFFFFF;
    font-size: 22px;
    height: 42px;
    line-height: 42px;
    margin: 0;
    overflow: visible;
    padding: 10px 15px;
    padding-left: 10px;
    text-shadow: 1px 1px #719E03;
}

#task-form-table h3 {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding-top: 10px;
  font-size: 20px;
  color: #8A8A8A;
  font-weight: bold;
}

input#task_title {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

  background: white;

  font-size: 23px;
  color: black;
  margin-top: 5px;
}
input#task_title:focus, input#task_title:hover {
  background: #FFF1A8;
}

#pulse-parameters label, .nzones_form label {
  font-weight: normal;
}
#pulse-parameters input {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  padding-top: 3px;
  font-size: 15px;
  width: 65px;
}
#pulse-parameters input:focus, #pulse-parameters input:hover {
  background: #FFF1A8;
}

#source-cell {
  width: 150px;
  vertical-align: top;
}

#title-hint {
  position: relative;
  top: -15px;
  left: 150px;
  font-size: small;
}

.nzones_form input {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  padding-top: 3px;
  font-size: 13px;
  background: #EFEFEF;
  width: 45px;
  position: relative;
  top: -2px;
}
.nzones_form input:focus, .nzones_form input:hover {
  background: #FFF1A8;
}
.nzones_form div {
  padding-top: 5px;
}
