.container {
  width: 710px;
}

body {
  background: #efefef;
  
}

header {
  padding-top: 20px;
}

header img {
  padding-left: 1em;
}

section {

  font-size: 120%;
  padding: 20px;
  background: #fff;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}


/* Forms */

.nzones_form {
  padding: 7px;
  margin: 7px;
  border: solid 1px #BDBDBD;
  background-color: #efefef;
  width: 300px;
  float: left;
}

pre {
  font-size: 11px;
  background-color: #F1F1F3;
  color: #000044;
  margin: 0px;
  padding: 7px;
}

.autoverflow {
  overflow:auto;
}

.showtask pre {
  margin-right: 17px;
}

.showtask table tr td {
  vertical-align: top;
  
}

a.big_button {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background:url("/images/big_button_bg.png") repeat-x scroll center top #87B500;border-color:#DDDDDD #689300 #689300 #DDDDDD;border-style:solid;border-width:0 1px 1px 0;color:#FFFFFF;cursor:pointer;font-size:22px;height:42px;line-height:42px;margin:0;overflow:visible;padding:10px 15px;text-shadow:1px 1px #719E03;}a.big_button:active{background:#87b500;color:#ECF5DE;line-height:44px;}

.alert {
  background:none repeat scroll 0 0 #FBE3E4;
  color:#8A1F11;
  border:2px solid #FBC2C4;
  margin-bottom:1em;
  padding:0.8em;
}
