<p>FSLA service can make numerical simulations of physical processes concerning action of laser radiation on metals. Model is based on one-dimensional two-temperature hydrodynamic numerical algorythm. Hope you find it nice and convinient. :)</p>
<p><strong>Current status:</strong> in development.</p>
<p><strong>Project lead:</strong> Vadim Shepelev (<a href="mailto:shepelev@ksan.ru">shepelev@ksan.ru</a>)</p>
