      <header>
        <%= link_to image_tag("logo.png", :alt => "Aries Diser", :class => "round"), root_path %>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
<!--            <li><%= link_to "Sign in", '#' %></li> -->
          </ul>
        </nav>
      </header>
